*{
    padding: 0;
    /*margin: 0;*/
}

body { 
    background: radial-gradient(circle at 0% 50%, #01579b, #039be5); 
}

#main {
    height: 4.39em;
    width: 4.39em;
    border-radius: 50%;
    background-image: url(../images/logo-wl.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position:  absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

#border {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 2px dashed #ff1744;
    border-radius: 50%;
    transform: scale(1.1);
    transition: all 5s;
}

#main:hover #border {
    animation: borderRotate 3s infinite linear;
}
@-webkit-keyframes borderRotate {
    from {
        transform: rotate(0deg) scale(1.1);
    }
    to {
        transform: rotate(360deg) scale(1.1);
    }
}

#tooltip {
    display: inline-block;
    height: 13.80em;
    width: 10.66em;
    border-radius: .5em;
    background-color: white;
    box-shadow: 0px 0px 5px silver;
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translate(-50%, -100%);
    visibility: hidden;
    opacity: 0; 
    transition: all .5s;            
}

#tooltip::after {
    content: '\25BC';
    font-size: 20px;
    color: #01579b;
    box-shadow: 1em -1em 10em silver;
    position: absolute;
    bottom: -9%;
    left: 50%;
    transform: translate(-50%);
}

#main:hover #tooltip{
    transform: translate(-50%, -80%);
    opacity: 1;
    visibility: visible;
}

#bigCircle {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background-image: url(../images/logo-wl.jpg);
    background-size: cover;
    background-position: center;
    margin: 1.5em 2.82em;
    box-shadow: 0px 0px 5px silver;
}

.tbTitre3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .87em;
    color: gray;
    text-align: center;
    margin: 0;
    text-transform: uppercase;
}

.tbTitre6 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .75em;
    color: gray;
    text-align: center;
    margin: .62em;
    text-transform: uppercase;
}

.container-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.link {
    list-style: none;
    padding: .5em;
}

#heart {
    display: inline-block;
    font-size: 1.25em;
    color: #ff1744;
    /*margin: 0 .31em 0px  3.76em;*/
    text-decoration: none;
}

#rete {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .81em;
    color: gray;
    text-decoration: none;
}